In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\ytxu\Documents\ArcGIS\Projects\GE6211SDH\LTA Data Mall\DYNAMIC\transport_node_bus_202101\transport_node_bus_202101.csv",sep=',')

In [5]:
df.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2021-01,WEEKENDS/HOLIDAY,7,BUS,56061,8,58
1,2021-01,WEEKDAY,7,BUS,56061,17,53
2,2021-01,WEEKDAY,8,BUS,64179,1,56
3,2021-01,WEEKENDS/HOLIDAY,8,BUS,64179,4,16
4,2021-01,WEEKENDS/HOLIDAY,16,BUS,11551,25,202

In [37]:
df['NET_MOVEMENT'] = df['TOTAL_TAP_OUT_VOLUME'] - df['TOTAL_TAP_IN_VOLUME']

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194084 entries, 0 to 194083
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   YEAR_MONTH            194084 non-null  object
 1   DAY_TYPE              194084 non-null  object
 2   TIME_PER_HOUR         194084 non-null  int64
 3   PT_TYPE               194084 non-null  object
 4   PT_CODE               194084 non-null  int64
 5   TOTAL_TAP_IN_VOLUME   194084 non-null  int64
 6   TOTAL_TAP_OUT_VOLUME  194084 non-null  int64
 7   NET_MOVEMENT          194084 non-null  int64
dtypes: int64(5), object(3)
memory usage: 11.8+ MB

In [38]:
weekday = df[df['DAY_TYPE'] == 'WEEKDAY']
weekday_am_peak = weekday[weekday['TIME_PER_HOUR']==8]

In [42]:
weekday_am_peak.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,NET_MOVEMENT
2,2021-01,WEEKDAY,8,BUS,64179,1,56,55
38,2021-01,WEEKDAY,8,BUS,27129,43,705,662
40,2021-01,WEEKDAY,8,BUS,52171,1730,738,-992
50,2021-01,WEEKDAY,8,BUS,46361,250,385,135
68,2021-01,WEEKDAY,8,BUS,25461,6,269,263

In [39]:
weekday_am_peak.to_csv(r"C:\Users\ytxu\Documents\ArcGIS\Projects\GE6211SDH\LTA Data Mall\DYNAMIC\transport_node_bus_202101\WEEKDAY_AM_PEAK_202101.csv",sep=',')

In [40]:
weekday_pm_peak = weekday[weekday['TIME_PER_HOUR']==18]
weekday_pm_peak.head()

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME,NET_MOVEMENT
129,2021-01,WEEKDAY,18,BUS,24519,169,2035,1866
137,2021-01,WEEKDAY,18,BUS,77119,62,3,-59
154,2021-01,WEEKDAY,18,BUS,45389,111,1088,977
243,2021-01,WEEKDAY,18,BUS,25099,264,51,-213
277,2021-01,WEEKDAY,18,BUS,5421,449,205,-244

In [41]:
weekday_pm_peak.to_csv(r"C:\Users\ytxu\Documents\ArcGIS\Projects\GE6211SDH\LTA Data Mall\DYNAMIC\transport_node_bus_202101\WEEKDAY_PM_PEAK_202101.csv",sep=',')